@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');

* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

body {
    margin: 0 230px;
    background-color: black;
    width: min-content;
}

header {
    background-color: #1f2937;
    height: min-content;
}

.logo {
    color: rgb(179, 237, 255);
    font-size: 3rem;
    text-shadow: 2px 2px 2px black;
    font-family: "EB Garamond", serif;
    margin: 0;
    margin-left: 150px;
    padding: 5px 0;
    margin-right: auto;
    font-weight: 300;
}

li {
    font-size: 16px;
}

ul {
    width: 20vw;
    list-style: none;
    color: rgb(224, 248, 255);
    margin-right: 150px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    margin-bottom: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    height: auto;
    min-width: fit-content;
}

.main_img {
    border-radius: 4px;
    box-shadow: 3px 3px 2px rgb(26, 25, 25);
    width: 500px;
    height: fit-content;
    align-self: center;
}

.intro {
    display: block;
    width: min-content;
    color: rgb(233, 250, 255);
}

h3 {
    font-size: 48px;
    margin: 30px 0;
}

.signup {
    color: white;
    background-color: #3882F6;
    padding: 8px 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 12px;
    border: none;
}

#highlights {
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

#highlights h3 {
    font-size: 32px;
    margin: 50px 0;
    font-weight: bold;
    font-family: sans-serif;
}

.drones {
    padding-bottom: 100px;
    display: flex;
    gap: 50px;
    max-width: min-content;
}

#seasons img{
    border: 3px solid #3881f650;
    border-radius: 10px;
    box-shadow: 3px 2px 4px rgba(128, 128, 128, 0.767);
}

#seasons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#seasons .season-info {
    font-size: 16px;
    text-align: center;
}

#info {
    height: auto;
    background-color: #E5E7EB;
    padding: 50px 250px;
}

.arthor {
    text-align: right;
    font-weight: bold;
    margin: 50px 0;
}

#signup {
    background-color: white;
    height: 50vh;
    padding: 40px;
    }
    
.inner-signup {
    width: 40vw;
    background-color: #3882F6;
    margin: 30px auto;
    padding: 40px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.signup-button {
    border: 1px solid white;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    text-wrap: nowrap;
    width: max-content;
    height: fit-content;
}

footer {
    background-color: #1f2937;
}

.copyright {
    text-align: center;
    margin: 0;
    padding: 50px;
    color: white;
}
