@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
    font-size: 14px;
}

header {
    background-color: #1f2937;
    height: min-content;
}

.logo {
    color: rgb(179, 237, 255);
    font-size: 3rem;
    text-shadow: 2px 2px 2px black;
    font-family: "EB Garamond", serif;
    margin-left: 100px;
    padding: 5px 0;
    margin-right: auto;
    font-weight: 300;
}

li {
    font-size: 16px;
}

ul {
    width: 30vw;
    list-style: none;
    color: rgb(224, 248, 255);
    margin-right: 100px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    margin-bottom: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    height: auto;
}

.main_img {
    border-radius: 4px;
    box-shadow: 3px 3px 2px rgb(26, 25, 25);
    margin-bottom: 20px;
    height: 12em;
}

.intro {
    display: block;
    width: max-content;
    color: rgb(233, 250, 255);
    margin-right: 20px;
    /* margin-bottom: 20px; */
}

h3 {
    font-size: 2rem;
}

.signup {
    color: white;
    background-color: #3882F6;
    padding: 8px 30px;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 12px;
    border: none;
}

#highlights {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#highlights h3 {
    font-size: 18px;
    margin: 20px 0;
    font-weight: bold;
    font-family: sans-serif;
}

.drones {
    padding-bottom: 30px;
    display: flex;
    gap: 30px;
    max-width: min-content;
}

#seasons img{
    border: 3px solid #3881f650;
    border-radius: 10px;
    box-shadow: 3px 2px 4px rgba(128, 128, 128, 0.767);
}

#seasons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#seasons  p {
    font-size: 12px;
    text-align: center;
}

#info {
    height: 20vh;
    background-color: #E5E7EB;
    padding: 30px 180px;
}